body{
    background-color: whitesmoke;
    font-family:'Courier New', Courier, monospace;
}

table{
    margin-left: 21%;
}

button{
    border-radius: 10px;
    background-color: black;
    color:white;
    margin-top:2%;
    margin-left:44.5%;
}

tr{
    text-align: center;
}

input{
    width: 50%;
}

textarea{
    width: 50%;
}

a{
    text-decoration: none;
    color:white;
}

